/* Style global */
body {
    font-family: 'Segoe UI', Arial, sans-serif;
    margin: 0;
    background-color: #f5f7fa;
    color: #4b4444;
    line-height: 1.6;
}

/* Header avec logo */
header {
    background: linear-gradient(135deg, #00b897, #34495e);
    color: white;
    padding: 25px;
    text-align: center;
}
header {
    display: flex;              /* permet d’aligner logo + texte */
    align-items: center;        /* aligne verticalement */
    justify-content: flex-start;/* tout à gauche */
    padding: 20px;
}

header img {
    height: 70px;               /* taille du logo */
    border-radius: 50%;         /* arrondi complet */
    margin-right: 15px;         /* espace entre logo et titre */
}


header h1 {
    margin: 0;
    font-size: 2.2em;
    font-weight: bold;
}

header p {
    margin-top: 8px;
    font-size: 1.1em;
    opacity: 0.9;
}

/* Barre de navigation */
nav {
    background-color: #588480;
    padding: 12px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 12px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #f1c40f; /* doré au survol */
}

/* Sections */
section {
    background: white;
    width: 85%;
    margin: 25px auto;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

h2 {
    color: #2980b9;
    border-bottom: 2px solid #7fb3d5;
    padding-bottom: 8px;
    margin-bottom: 20px;
}

h3 {
    color: #27ae60;
    margin-top: 20px;
}

/* Boutons */
button {
    background-color: #198f74;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #1f618d;
}

/* Footer */
footer {
    text-align: center;
    background-color: #2c3e50;
    color: white;
    padding: 15px;
    margin-top: 40px;
    font-size: 0.9em;
}
